@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap'); /* Google fonts import */

/* Universal */
body{
    position: relative;
    min-height: 100vh;
}

main {
    background: white;
    min-height: 100vh;
    position: relative;
    z-index: 1; /*for slide-out footer*/
}
/*Colors*/

    /*footer colors*/
address a {
    color: #028EAF;
}

.bdr-top {
    border-top: 2px solid #FF785A;
}

h2 {
    color: #35CE8D;
    text-transform: capitalize;
}

.bdr-left {
    border-left: 2px solid #FF785A;
}

.btn-outline-primary {
    color: #028EAF;
    border-color: #028EAF;
}

/* Navigation */
header {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
}
.navbar{
    background-image: url(../images/blizzard.png);
}

div a img {
    max-width:240px;
    max-height: 55px;
}

.navbar-nav .active > .nav-link {
    color: #028EAF!important;
    border-bottom: 2px solid #FF785A;
}

#dropdown {
    border: transparent;
    background-color: #343a40;
    background-image: url(../images/blizzard.png);
}

#dropdown a{
    color: rgba(255,255,255,.5);
}
#dropdown a:hover{
    background-color: transparent;
    color: rgba(255,255,255,.75);
}

.dropdown-item.active {
    background-color: transparent;
    color: #028EAF;
    border-bottom: 2px solid #FF785A;
}

/* responsve logo media query - 767px width deliberate to accomodate ipad */
@media only screen and (max-width:767px) {
.navbar-brand img {
    background-image: url(../images/logomini.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    }
}
/*main*/
#tagline {
    top: 114px;
    right: 139px;
    position: absolute;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: 700;
}

blockquote span {
    color: #ff785a;
}

span:last-child {
    color: #028EAF;
}

/*footer*/
footer {
    background-image: url(../images/blizzard.png);
    position: sticky;
    bottom: 0.1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2rem;
    color: #fff;
    padding-top:5px;
    padding-bottom: 5px;
}
footer img {border-bottom:2px solid #FF785A;}
address {
    line-height: 0.2rem;
}

span.fab {
    color: #fff;
    font-size: xxx-large;
    margin-bottom: 10px;
    margin-left: 10px;
}
.form{
    margin-top: 2px;
    margin-bottom: 2px;
}

form p {
    padding-left: 12px;
    margin-bottom: 8px;
}

#newsletter-check {
    margin:0px 0px;
}

.form-check-label {
    padding-left: 2rem;
}