@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap'); /* Google fonts import */

/************************* UNIVERSAL *************************/

body{
    position: relative;
    min-height: 100vh;
    padding-top:100px;
}

main {
    font-family: 'Roboto',sans-serif;
    letter-spacing: 0.25em;
    background: #fff;
    min-height: 100vh;
    position: relative;
    z-index: 1; /*for slide-out footer*/
}

.content {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.3125em;
}

.padding {
    padding:15px 15px;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #FF785A
}

.mobile-head {
    background-color: #ff785a;
    background-image: url(../images/blizzard.png);
    color: white;
    display: block;
    text-transform: capitalize;
    font-family: 'Roboto';
    text-align: center;
    text-shadow: 0.6rem 0.5rem 0.3rem white;
    font-weight: 700;
}

.section-head{
    margin-top: 9rem;
    padding-bottom: 10px;
    font-weight: 500;
    color: #028EAF;
    text-decoration: underline #FF785A!important;
    text-transform: capitalize;
}
.page-head {
    padding: 10px 10px;
    font-size: 3em;
    font-weight: 500;
    color: #028EAF;
    text-decoration: underline #FF785A!important;
    text-transform: capitalize;
}

.hsize {
  display: block;  
  font-size: 1.75em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #028EAF;
}

/************************* ANIMATIONS *************************/

.hvr-underline-from-center:before {
    background: #FF785A!important;
    height: 2px!important;
}

@keyframes slide-l {
  from {left: -60vw;}
  to {left: 0vw;border: 2px solid #028EAF}
}

@keyframes slide-r {
  from {right: -50vw;}
  to {right: 50px;border: 2px solid #35CE8D}
}

@keyframes slide-b {
  from {top: 100vh;}
  to {top: 456px;border: 2px solid #ff785a;}
}

.slide-left {
    width: 100%;
    height: 100%;
    position: relative;
    animation: slide-l 3s ease-in-out 1;
    animation-fill-mode: forwards;
}

.slide-right {
    width: 100%;
    height: 100%;
    position: relative;
    animation: slide-r 3s ease-in-out 1;
    animation-fill-mode: forwards;
}

.slide-btm {
    width: 100%;
    height: 100%;
    position: relative;
    animation: slide-b 3s ease-in-out 1;
    animation-fill-mode: forwards;
}

.animate {
    animation: spinner-grow 6s ease-in-out 1;
}

/************************* COLORS *************************/

.bdr-top {
    border-top: 2px solid #FF785A;
}

h2 {
    color: #35CE8D;
    text-transform: capitalize;
    font-weight:600;
    font-family: 'Roboto',sans-serif!important;
}

h3 {
    color: #028eaf;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif!important;
}

.bdr-left {
    border-left: 2px solid #FF785A;
}

.btn-outline-primary {
    color: #028EAF;
    border-color: #028EAF;
}

aside > h2 {
    color: #fff;
}

.trans-modal {
    background-color: rgba(142,136,136,0.9);
    border: 2px solid #ff785a;
    color: #fff;
}

button.close {
    color:#fff;
}

.btn {
    color: #fff;
}

dt {
    color: #028eaf;
}

.depth {
    box-shadow: 2rem 1rem 3rem rgba(0,0,0,0.9)!important;
}

.green-bg {
    color: #fff;
    background-color: #35ce8d;
}

.orange-bg {
    color: #fff;
    background-color: #ff785a;
}

.red-bg {
    color: #fff;
    background-color: #dc3545;
}

blockquote span {
    color: #ff785a;
}

blockquote span:last-child {
    color: #028EAF;
}

.btn-caribou, .btn-caribou:hover {
    color: #fff;
    background-color: #35ce8d;
}

.btn-prusa, .btn-prusa:hover {
    color: #fff;
    background-color: #ff785a;
}

a[title="3D Printing - Wikipedia"],a[title="Prusa Face Shields"],a[title="Benchspace Cork"]{
    color: #028EAF;
}

/************************* NAVIGATION *************************/

header {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3125em;
}
.navbar{
    background-image: url(../images/blizzard.png);
}

.sign-up {
    color: #35CE8D!important;
    font-weight: 500;
    display: inline-block;
}

div a img {
    max-width:240px;
    max-height: 55px;
}

.navbar-nav .active > .nav-link {
    color: #028EAF!important;
    border-bottom: 2px solid #FF785A;
}

#dropdown {
    border: transparent;
    background-color: #343a40;
    background-image: url(../images/blizzard.png);
}

#dropdown a{
    color: rgba(255,255,255,.5);
}
#dropdown a:hover{
    background-color: transparent;
    color: rgba(255,255,255,.75);
}

.dropdown-item.active {
    background-color: transparent;
    color: #028EAF;
    border-bottom: 2px solid #FF785A;
}

/************************* RESPONSIVE MEDIA QUERIES *************************/

/*- 767px width deliberate to accomodate ipad*/
@media only screen and (max-width:767px) {
.navbar-brand img {
    background-image: url(../images/logomini.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    }
}

@media only screen and (max-width:812px) {
#bg-box, #trans-box, #tagline, #hero-image {
    display: none;
    }
}

@media only screen and (max-width:812px) {
footer {
    position: relative!important;
    }
}

@media only screen and (min-width:769px) {
.mobile-only {
    display: none!important;
    }
}

@media only screen and (max-width:768px) {
.desktop-only {
    display: none!important;
    }
}

@media only screen and (max-width:812px) {
.mobile-margin {
    margin-top: auto!important;
    }
}

@media only screen and (max-width:1024px) {
.mobile-media {
    display: block!important;
    }
}

/************************* MAIN *************************/

#tagline {
    top: 3em;
    right: 2em;
    position: absolute;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    z-index: 2;
}

div > span, .trans-content {
    color:#fff;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.8em;
}

#overlap {
    position: relative;
}

#hero-image {
    margin-top: 10rem;
    width:100%;
    border: 2px solid #4c4c47;
}

#figure-img {
    width: 280px;
    height:280px;
    position:absolute;
    max-width:100%;
    max-height:100%;
}

.relative {
    position: relative;
}

#trans-box {
    background-color: rgba(142,136,136,0.9);
    width:625px;
    height:285px;
    top: 456px;
    right: 100px;
    position: absolute;
    color:#fff;
    text-align: right;
    font-weight:400;
    border: 2px solid #4c4c47;
}

#bg-box {
    background-color: #343A40;
    background-image:url(../images/blizzard.png);
    width: 450px;
    height: 450px;
    top: 372px;
    right: 50px;
    position: absolute;
    border: 2px solid #4c4c47;
}

.about{
    background-color: #FF785A;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    padding-top:15px;
    padding-bottom:15px;
}

a:not([href]):not([class]) {
    color: inherit;
    text-decoration: inherit;
}

.img-thumbnail {
    margin-bottom:25px;
}

.media {
    width: auto;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

#build-carousel {
    padding-bottom:25px;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

/************************* BUILD PAGE *************************/

pre {
    white-space: pre-wrap;
    font-family: 'Source Sans Pro', sans-serif!important;
    letter-spacing: 0.3125em;
}

table td, table th {
    padding-right: inherit!important;
}

th ~ td {
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-tabs {
    border-bottom: 0px;
}

/************************* ARTICLES PAGE *************************/

.img-profile {
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    border: 1px solid #ff785a;
    border-radius: 50%;
}

.img-wrap {
    width:50%;
}

.expand-text {
    color: #ff785a!important;
}

ul{
    list-style: none;
}

.not-sticky {
    position: inherit!important;
}

/************************* FOOTER *************************/

footer {
    background-image: url(../images/blizzard.png);
    position: sticky;
    bottom: 0.1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2rem;
    color: #fff;
    padding-top:5px;
    padding-bottom: 5px;
}

footer img {border-bottom:2px solid #FF785A;}

address {
    line-height: 0.2rem;
}

span.fab {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    margin-left: 10px;
}

span.fas {
    color: #fff;
}

h2 span.fas {
    color: #35ce8d;
}

.form{
    margin-top: 2px;
    margin-bottom: 2px;
}

form p {
    padding-left: 12px;
    margin-bottom: 8px;
}

#newsletter-check {
    margin:0px 0px;
}

.form-check-label {
    padding-left: 2rem;
}

textarea {
    resize: none;
}